# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists.
* Arithematic Evaluation of Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. SQL
4. Java
5. R
6. Scala
7. JavaScript.
8. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. Keras

| Data Science Tools |
| :- |
| Apache Spark |
| BigML |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/60
print(hours)

3.3333333333333335

## Author
Roshan C